{{ define "styling" }}<link rel="stylesheet" href="./css/page.css" />{{ end }}
<section id="countdown">
    <div class="black-background"></div>
    <div class="container">
        <div class="countdown-container">
            
            <div class="countdown-timer">
                <h2>CAREER DAY</h2>
                <h2>COUNTDOWN</h2>

            </div>
            <div id="circles">
                <span class="works_section" id="upload_circle">
                    <h2>10</h2>
                    <p>Days</p>
                </span>
                <span class="works_section" id="team_circle">
                    <h2>05</h2>
                    <p>Minutes</p>
                </span>
                <span class="works_section" id="development_circle">
                    <h2>55</h2>
                    <p>Hours</p>
                </span>
            </div>
        </div>
    </div>


</section>