
{{ define "styling" }}<link rel="stylesheet" href="./css/page.css" />{{ end }}
<div id="features" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-2 order-lg-1 features-img">
                <img class="img-fluid" src="/images/features-image.png" alt="features">
            </div>
            <div
                class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1">
                <div>
                    <h1>Duis eleifend nisi in ante accumsan interdum. </h1>
                    <h2>Nam condimentum ultricies enim, sed elementum magna varius quis. Praesent mollis cursus diam
                        vehicula venenatis. Proin fringilla tortor in magna cursus euismod. Phasellus elit ligula,
                        accumsan eget malesuada eget, tincidunt quis massa. Cras feugiat ultricies ante. Nulla eget
                        nulla vel nunc imperdiet euismod.</h2>
                    <ul>
                        <li>
                            <div class="d-flex justify-content-center align-items-center gap-3">
                                <div class="icon-button">
                                    <img class="img-fluid" src="/images/lock-icon1.png" alt="header">
                                </div>
                                <h3>Integer consequat rutrum ante ut tincidunt.</h3>
                            </div>
                        </li>
                        <li class="text-center">
                            <div class="d-flex justify-content-center align-items-center gap-3">
                                <div class="icon-button">
                                    <img class="img-fluid" src="/images/cloud-icon.png" alt="header">
                                </div>
                                <h3>Maecenas vel aliquet dolor, vel cursus augue.</h3>
                            </div>
                        </li>
                    </ul>
                    <button href="#" class="download-btn">CALL TO ACTION <i>></i></button>
                </div>
            </div>

        </div>
    </div>
</div><!-- End features -->