
{{ define "styling" }}<link rel="stylesheet" href="./css/page.css" />{{ end }}
<div id="header" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div
        class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
        data-aos="fade-up">
        <div>
          <h1 class="redi">Lorem Ipsum dolor sit amet</h1>
          <h2>Lorem ipsum dolor sit amet, tota senserit percipitur ius ut, usu et fastidii forensibus
            voluptatibus. His ei nihil feugait</h2>
          <button href="#" class="download-btn">CONTACT NOW</button>
          <button href="#" class="download-btn">BOOK A DEMO</button>
        </div>
      </div>
      <div class="col-lg-6 position-relative d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 header-img">
        <img class="img-fluid" src="/images/header-image.png" alt="header">
      </div>
    </div>
  </div>
</div><!-- End header -->