
{{ define "styling" }}<link rel="stylesheet" href="./css/page.css" />{{ end }}
<div id="news" class="d-flex align-items-center">
    <div class="container">

        <div class="row mb-4">
            <div class="news-title">
                <h2>LATEST NEWS</h2>
                <p>Lorem ipsum dolor</p>
            </div>
            <div class="col-lg-9 d-lg-flex flex-lg-column align-items-stretch order-2 order-lg-1 news-img">
                <img class="img-fluid" src="/images/news.png" alt="news">
            </div>
            <div
                class="col-lg-3 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1">
                <div>
                    <button href="#" class="category-btn">CATEGORY</button>
                    <h1>Nunc accumsan porttitor neque eget pulvinar. </h1>
                    <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae sem iaculis, varius eros
                        sit amet, placerat turpis. Etiam faucibus, massa at tempus aliquam, dui mauris bibendum magna,
                        at blandit turpis ipsum quis felis.<br>

                        Donec elit neque, laoreet ut mauris a, lacinia porta sapien. Suspendisse consequat elit a ligula
                        fringilla, at vehicula eros tincidunt. Aliquam scelerisque commodo imperdiet. Phasellus non
                        pharetra elit.<br>

                        Donec elit neque, laoreet ut mauris a, lacinia porta sapien. Suspendisse consequat.<br></h2>
                </div>
            </div>

        </div>
        <div class="row ">
            <div class="col-lg-4 col-md-6 news-container">
                <div class="news-container-image">
                    <img class="img-fluid" src="/images/news1.png" alt="news1">
                </div>
                <div class="news-container-typography">
                    <button>Category</button>
                    <p class="news-container-heading">Nunc accumsan porttitor neque eget pulvinar.</p>
                    <p class="news-container-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae
                        sem iaculis, varius eros sit amet, placerat turpis. Etiam faucibus, massa at tempus aliquam, dui
                        mauris bibendum magna, at blandit turpis ipsum quis felis.</p>
                </div>
                <div class="news-container-action">

                    <p class="news-container-heading">Read More</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 news-container">
                <div class="news-container-image">
                    <img class="img-fluid" src="/images/news1.png" alt="news1">
                </div>
                <div class="news-container-typography">
                    <button>Category</button>
                    <p class="news-container-heading">Nunc accumsan porttitor neque eget pulvinar.</p>
                    <p class="news-container-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae
                        sem iaculis, varius eros sit amet, placerat turpis. Etiam faucibus, massa at tempus aliquam, dui
                        mauris bibendum magna, at blandit turpis ipsum quis felis.</p>
                </div>
                <div class="news-container-action">

                    <p class="news-container-heading">Read More</p>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 news-container">
                <div class="news-container-image">
                    <img class="img-fluid" src="/images/news1.png" alt="news1">
                </div>
                <div class="news-container-typography">
                    <button>Category</button>
                    <p class="news-container-heading">Nunc accumsan porttitor neque eget pulvinar.</p>
                    <p class="news-container-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae
                        sem iaculis, varius eros sit amet, placerat turpis. Etiam faucibus, massa at tempus aliquam, dui
                        mauris bibendum magna, at blandit turpis ipsum quis felis.</p>
                </div>
                <div class="news-container-action">

                    <p class="news-container-heading">Read More</p>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="pagination">
                
            </div>
        </div>
    </div>
</div><!-- End news -->