
{{ define "styling" }}<link rel="stylesheet" href="./css/page.css" />{{ end }}
<div id="newsletter" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1"
                data-aos="fade-up">
                <div>
                    <h1 class="redi">Quisque id ex molestie mauris dictum pharetra.</h1>
                    <h2>Integer consequat rutrum ante ut tincidunt. Sed a arcu id mi convallis accumsan nec nec nisi.
                        Nulla ut imperdiet leo, ut efficitur nisl. Nam efficitur turpis vitae viverra pellentesque.
                        Aliquam erat volutpat.</h2>
                    <h3> Phasellus a ante et metus dignissim mattis!</h3>
                    <div class="d-flex flex-column gap-2 input-fields justify-content-center">
                        <div class="loginInput">
                            <div class="icon-input">
                                <i><object data="/icons/Profile.svg" width="20" height="20" alt="icon"> </object></i>

                                <input class="fullname" id="text" type="text" placeholder="Full Name" alt="icon">
                            </div>
                            <div class="icon-input">
                                <i> <object data="/icons/Send.svg" width="20" height="20"> </object></i>
                                <input class="email" type="email" placeholder="Email Address">
                            </div>
                            <button>SUBSCRIBE</button>
                        </div>
                    </div>
                </div>
            </div>
            <div
                class="col-lg-6 d-lg-flex flex-lg-column position-relative align-items-stretch order-1 order-lg-2 newsletter-img">
                <img class="img-fluid" src="/images/newsletter-image.png" alt="newsletter" loading="lazy">
                <div class="position-absolute news-details">
                    <h3>Our Numbers</h3>
                    <h1>20K <span>Users</span></h1>
                    <h1>30 <span>Clients</span></h1>
                    <h1>150+ <span>App Downloads</span></h1>
                </div>
            </div>
        </div>
    </div>
</div><!-- End newsletter -->