
{{ define "styling" }}<link rel="stylesheet" href="./css/page.css" />{{ end }}
<div id="services" class="d-flex align-items-center">

    <div class="container">
        <div class="row py-3">
            <div class="feature col-lg-4 justify-content-center align-items-center ">
                <div class="d-flex justify-content-center align-items-center gap-3">
                    <div class="icon-button">
                        <img class="img-fluid" src="/images/lock-icon.png" loading="lazy" alt="header">
                    </div>
                    <h2>SERVICE A</h2>
                </div>
            </div>
            <div class="feature col-lg-4 justify-content-center align-items-center ">
                <div class="d-flex justify-content-center align-items-center gap-3">
                    <div class="icon-button">
                        <img class="img-fluid" src="/images/database-icon.png" loading="lazy" alt="header">
                    </div>
                    <h2>SERVICE B</h2>
                </div>
            </div>
            <div class="feature col-lg-4 d-lg-flex flex-lg-column justify-content-center align-items-center ">
                <div class="d-flex justify-content-center align-items-center gap-3">
                    <div class="icon-button">
                        <img class="img-fluid" src="/images/bubble-icon.png" loading="lazy" alt="header">
                    </div>
                    <h2>SERVICE C</h2>
                </div>
            </div>
        </div>
    </div>
</div>