<style>
    #services {
        height: 160px;
        background-color: var(--primary-color-1);
    }

    #services h2{
        color: #ffffff;
        margin: 0;
    }

    @media (max-width: 991px) {
    #services {
      height: 400px;
    }

    .feature{
        margin: 20px 0;
    }
    #header .download-btn+.download-btn {
      margin: 0 10px;
    }

    
  }

    .icon-button {
        background-color: #ffffff;
        width: 70px;
        height: 70px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

</style>

<div id="services" class="d-flex align-items-center">

    <div class="container">
        <div class="row py-3">
            <div class="feature col-lg-4 justify-content-center align-items-center ">
                <div class="d-flex justify-content-center align-items-center gap-3">
                    <div class="icon-button">
                        <img class="img-fluid" src="/images/lock-icon.png" alt="header">
                    </div>
                    <h2>SERVICE A</h2>
                </div>
            </div>
            <div class="feature col-lg-4 justify-content-center align-items-center ">
                <div class="d-flex justify-content-center align-items-center gap-3">
                    <div class="icon-button">
                        <img class="img-fluid" src="/images/database-icon.png" alt="header">
                    </div>
                    <h2>SERVICE B</h2>
                </div>
            </div>
            <div class="feature col-lg-4 d-lg-flex flex-lg-column justify-content-center align-items-center ">
                <div class="d-flex justify-content-center align-items-center gap-3">
                    <div class="icon-button">
                        <img class="img-fluid" src="/images/bubble-icon.png" alt="header">
                    </div>
                    <h2>SERVICE C</h2>
                </div>
            </div>
        </div>
    </div>
</div>